@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #fdfdfd;
    --background-button: #3573ee;
    --background-menu-item-hover: #c2d6fc;
    --priority-normal: #3f9500;
    --priority-minor: #4c4c4c;
    --priority-major: #006fe2;
    --blue: #3573ee;
    --gray: #D3D5DB;
}

@media (prefers-color-scheme: dark) {
    /* ToDo если будет не лень */
    :root {
        --foreground: #27282e;
        --background: #fdfdfd;
        --background-button: #3573ee;
        --background-menu-item-hover: #c2d6fc;
        --priority-normal: #3f9500;
        --priority-minor: #4c4c4c;
        --priority-major: #006fe2;
        --blue: #3573ee;
        --gray: #D3D5DB;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    display: flex;
    padding: 25px;
    gap: 8px;
}

.footer__title {
    font-size: 1.5rem;
    margin: auto 0;
}

.footer__create-task-btn {
    display: flex;
    color: var(--background);
    height: 24px;
    background-color: var(--background-button);
    border-radius: 4px;
    cursor: pointer;
    margin: auto 0 auto auto;
    padding: 0 8px;
}

.disabled {
    opacity: 0.8;
    cursor: auto;
}

.footer__create-board-btn {
    display: flex;
    color: var(--background);
    height: 24px;
    background-color: var(--background-button);
    border-radius: 4px;
    cursor: pointer;
    margin: auto 0 auto;
    padding: 0 8px;
}

.search {
    display: flex;
    position: relative;
    height: 32px;
    border: 1px solid var(--gray);
    margin: 8px 32px;
    border-radius: 4px;
}

.search:hover {
    border: 1px solid var(--blue);
}

.search__board-list-btn {
    display: flex;
    padding: 0 10px 0 16px;
    gap: 8px;
    color: var(--background);
    background-color: var(--blue);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 160px;
}

.board-list-btn__text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: auto auto auto 4px;
}

.search__input {
    outline: none;
    flex-grow: 1;
    padding: 0 8px;
}

.search__btn {
    margin: auto 8px auto auto;
}

.search__ring {
    color: var(--background);
    margin: auto 4px;
}

.search__board-list {
    position: absolute;
    top: 120%;
    left: 0;

    width: 200px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2),0 1px 2px rgba(0, 0, 0, 0.19);
    color: var(--priority-minor);

    border: 1px solid var(--priority-major);
    border-radius: 4px;
    padding: 4px;
    background-color: aliceblue;
}

.board-list__item {
    margin: 2px;
    padding: 0 4px;
}

.board-list__item:hover {
    background-color: #3573ee;
    border-radius: 4px;
}

.board {
    margin: 8px 32px;
    height: calc(100vh - 180px);
}

.board__columns {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    border: 1px solid var(--priority-major);
    border-radius: 4px;
    padding: 8px;
}

.column__tasks {
    display: grid;
    gap: 8px;
    margin-top: 4px;
}

.task {
    display: flex;
    position: relative;
    width: 100%;
    height: 100px;

    border: 1px solid var(--priority-major);
    border-radius: 4px;
    padding: 4px;
}

.task__id {
    color: var(--blue);
    margin-right: 8px;
}

.task__name {
    font-size: 12px;
}

.task__priority {
    position: absolute;
    bottom: 0;
    right: 4px;
}

.task__priority--minor {
    color: var(--priority-minor);
}

.task__priority--normal {
    color: var(--priority-normal);
}

.task__priority--major {
    color: var(--priority-major);
}

.task:hover {
    border: 2px solid var(--blue);
    cursor: pointer;
}

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    display: flex;
    position: relative;
    width: 500px;
    height: 400px;
    flex-direction: column;
    background-color: var(--background);
    border-radius: 6px;
    padding: 8px;
    gap: 4px
}

.popup__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid var(--priority-major);
    padding: 4px;
    border-radius: 6px;
}

.popup__text {
    margin-right: auto;
}

.popup__btn-create {
    display: flex;
    position: absolute;
    bottom: 8px;
    right: 8px;
    padding: 4px 16px 4px 16px;
    gap: 8px;
    color: var(--background);
    background-color: var(--blue);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.popup__btn-create:hover {
    opacity: 0.8;
}

.popup__btn-trash {
    display: flex;
    position: absolute;
    bottom: 12px;
    left: 12px;
}

.popup__btn-trash:hover {
    opacity: 0.8;
}

.popup__input {
    width: 70%;
    background-color: rgba(76, 76, 76, 0.1);
    border-radius: 4px;
}
